:root {
    --color-primary: linear-gradient(53.52deg, #8E2DE2 24.13%, #4A00E0 78.74%);
    --color-primary-2: linear-gradient(53.52deg, #DE6262 24.13%, #FFB88C 78.74%);
    --color-primary-3: linear-gradient(53.52deg, #02AAB0 24.13%, #00CDAC 78.74%);
    --color-primary-4: linear-gradient(53.52deg, #FF512F 24.13%, #DD2476 78.74%);
    --color-primary-5: linear-gradient(53.52deg, #F757FB 24.13%, #E0AF00 78.74%);
    --color-primary-6: linear-gradient(53.52deg, #0228B0 24.13%, #00A8CD 78.74%);
    --color-primary-7: linear-gradient(53.52deg, #D4DE62 24.13%, #189358 78.74%);
    --color-primary-8: linear-gradient(53.52deg, #AC6B11 24.13%, #ECB22E 78.74%);
    --color-primary-9: linear-gradient(53.52deg, #4158D0 24.13%, #FA8BFF 78.74%);
    --title-font: "Manrope", sans-serif;
    --body-font: "Yantramanav", sans-serif;
    --color-body: #666666;
    --dark-color-body: rgba(255, 255, 255, .8);
    --color-title-af-bf: #F9F9F9;
    --color-heading-1: #27272F;
    --dark-color-heading-1: #ffffff;
    --bg-dark-one: #27272e;
    --bg-dark-two: #212121;
    --bg-dark-three: #0f0f1c;
    --color-white: #fff;
    --color-black: #000;
    --input-bg-shape: polygon(0% 26.667%, 0% 26.667%, 0% 23.08%, 0.004% 19.847%, 0.012% 16.945%, 0.029% 14.349%, 0.058% 12.036%, 0.099% 9.984%, 0.158% 8.168%, 0.236% 6.565%, 0.336% 5.152%, 0.461% 3.905%, 0.461% 3.905%, 0.608% 2.847%, 0.774% 1.999%, 0.963% 1.339%, 1.177% 0.844%, 1.419% 0.488%, 1.692% 0.25%, 1.998% 0.105%, 2.34% 0.031%, 2.722% 0.004%, 3.145% 0%, 96.855% 0%, 96.855% 0%, 97.278% 0.004%, 97.66% 0.031%, 98.002% 0.105%, 98.308% 0.25%, 98.581% 0.488%, 98.823% 0.844%, 99.037% 1.339%, 99.226% 1.999%, 99.392% 2.847%, 99.539% 3.905%, 99.539% 3.905%, 99.664% 5.152%, 99.764% 6.565%, 99.842% 8.168%, 99.901% 9.984%, 99.942% 12.036%, 99.971% 14.349%, 99.988% 16.945%, 99.996% 19.847%, 100% 23.08%, 100% 26.667%, 100% 48.954%, 100% 48.954%, 100% 50.51%, 99.999% 51.917%, 99.997% 53.19%, 99.992% 54.343%, 99.985% 55.392%, 99.974% 56.351%, 99.959% 57.234%, 99.939% 58.057%, 99.913% 58.834%, 99.88% 59.58%, 99.88% 59.58%, 99.841% 60.301%, 99.795% 61.007%, 99.74% 61.71%, 99.677% 62.426%, 99.605% 63.169%, 99.523% 63.954%, 99.43% 64.796%, 99.325% 65.71%, 99.209% 66.71%, 99.079% 67.811%, 96.204% 92.189%, 96.204% 92.189%, 96.074% 93.289%, 95.956% 94.279%, 95.849% 95.165%, 95.749% 95.954%, 95.657% 96.652%, 95.569% 97.264%, 95.485% 97.798%, 95.402% 98.259%, 95.319% 98.652%, 95.233% 98.985%, 95.233% 98.985%, 95.146% 99.26%, 95.054% 99.48%, 94.957% 99.652%, 94.853% 99.781%, 94.74% 99.873%, 94.616% 99.935%, 94.48% 99.973%, 94.33% 99.992%, 94.164% 99.999%, 93.981% 100%, 3.145% 100%, 3.145% 100%, 2.722% 99.996%, 2.34% 99.969%, 1.998% 99.895%, 1.692% 99.75%, 1.419% 99.512%, 1.177% 99.156%, 0.963% 98.661%, 0.774% 98.001%, 0.608% 97.153%, 0.461% 96.095%, 0.461% 96.095%, 0.336% 94.848%, 0.236% 93.435%, 0.158% 91.832%, 0.099% 90.016%, 0.058% 87.964%, 0.029% 85.651%, 0.012% 83.055%, 0.004% 80.153%, 0% 76.92%, 0% 73.333%, 0% 26.667%);
    --primary-bg-shape: polygon(0% 11.82%, 0% 11.82%, 0.214% 9.903%, 0.833% 8.084%, 1.824% 6.388%, 3.153% 4.839%, 4.786% 3.462%, 6.69% 2.281%, 8.831% 1.319%, 11.175% 0.603%, 13.689% 0.155%, 16.34% 0%, 83.66% 0%, 83.66% 0%, 86.311% 0.155%, 88.825% 0.603%, 91.169% 1.319%, 93.31% 2.281%, 95.214% 3.462%, 96.847% 4.839%, 98.176% 6.388%, 99.167% 8.084%, 99.786% 9.903%, 100% 11.82%, 100% 77.866%, 100% 77.866%, 99.986% 78.242%, 99.945% 78.617%, 99.876% 78.989%, 99.781% 79.357%, 99.659% 79.72%, 99.51% 80.079%, 99.336% 80.431%, 99.136% 80.777%, 98.91% 81.116%, 98.659% 81.446%, 86.499% 96.488%, 86.499% 96.488%, 85.929% 97.115%, 85.278% 97.688%, 84.554% 98.206%, 83.764% 98.664%, 82.915% 99.06%, 82.013% 99.39%, 81.068% 99.653%, 80.085% 99.844%, 79.072% 99.96%, 78.036% 100%, 16.34% 100%, 16.34% 100%, 13.689% 99.845%, 11.175% 99.397%, 8.831% 98.681%, 6.69% 97.719%, 4.786% 96.538%, 3.153% 95.161%, 1.824% 93.612%, 0.833% 91.916%, 0.214% 90.097%, 0% 88.18%, 0% 11.82%);
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    --color-facebook: #3B5997;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-linkedin: #0077B5;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;
    --s-light: 300;
    --s-regular: 400;
    --s-medium: 500;
    --s-semi-bold: 600;
    --s-bold: 700;
    --s-extra-bold: 800;
    --s-black: 900;
    --transition: all 0.5s ease;
    --font-size-b1: 16px;
    --font-size-b2: 18px;
    --font-size-b3: 22px;
    --line-height-b1: 26px;
    --line-height-b2: 26px;
    --line-height-b3: 1.7;
    --h1: 40px;
    --h2: 36px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;
    --h6: 14px;
}

body{
   background-color: #fefefe;
}

.bg-gradient1 {
    background: var(--color-primary);
}

.bg-gradient2 {
    background: var(--color-primary-2);
}

.bg-gradient3 {
    background: var(--color-primary-3);
}

.bg-gradient4 {
    background: var(--color-primary-4);
}

.bg-gradient4{
    background: var(--color-primary-4);
}

